<template name="filters">
  <form class="filterForm" action="index.html" method="post">
    <div class="col-md-6">
      <div class="vehicleType">
        <span class="label label-default center-block">Brand</span>
          <select class="form-control brand" name="">
            <option value="">all</option>
            {{#each getBrands}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
      </div>
      <div class="vehicleTransmission">
          <span class="label label-default center-block">Transmission</span>
          <select class="form-control transmission" name="">
            <option value="">all</option>
            <option value="Manual">Manual</option>
            <option value="Automatic">Automatic</option>
          </select>
      </div>
      <div class="vehicleSpeeds">
          <span class="label label-default center-block">Speeds</span>
          <select class="form-control speeds" name="">
            <option value="">all</option>
            <option value="3Spd">3Spd</option>
            <option value="4Spd">4Spd</option>
            <option value="5Spd">5Spd</option>
            <option value="6Spd">6Spd</option>
            <option value="7Spd">7Spd</option>
            <option value="8Spd">8Spd</option>
          </select>
      </div>
      <div class="vehicleMileage">
        <span class="label label-default center-block">Mileage</span>
        <select class="form-control mileage" name="">
          <option value="">all</option>
          <option value="15000">Under 15,000</option>
          <option value="30000">Under 30,000</option>
          <option value="45000">Under 45,000</option>
          <option value="60000">Under 60,000</option>
          <option value="75000">Under 75,000</option>
          <option value="100000">Under 100,000</option>
          <option value="150000">Under 150,000</option>
          <option value="200000">Over 200,000</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="vehicleModel">
        <!-- <p>Model</p> -->
        <span class="label label-default center-block">Models</span>
        <select class="form-control model" name="model">
          <option value="">all</option>
          {{#each getModels}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
      <div class="vehicleCondtion">
        <span class="label label-default center-block">Condition</span>
        <select class="form-control condition" name="">
          <option value="">all</option>
          <option value="New">New</option>
          <option value="Used">Used</option>
        </select>
      </div>
      <div class="vehicleCylinders">
        <span class="label label-default center-block">Cylinders</span>
        <select class="form-control cylinders" name="">
          <option value="">all</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="8">8</option>
          <option value="10">10</option>
          <option value="12">12</option>
          <option value="16">16</option>
        </select>
      </div>
      <div class="vehicleFuel">
        <span class="label label-default center-block">Fuel</span>
        <select class="form-control fuel" name="">
          <option value="">all</option>
          <option value="Petrol">petrol</option>
          <option value="Diesel">diesel</option>
          <option value="Gas">gas</option>
          <option value="Electric">electric</option>
          <option value="Hybrid">hybrid</option>
        </select>
      </div>
    </div>
  </form>
</template>
