<template name="homeIndex">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        {{> filters}}
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        {{#each ads}}
          <div class="col-md-4">
            <div class="product">
              <img class="productImage img-thumbnail img-responsive" src="{{image}}" alt="" />
              <div class="productName">
                <p class="text-center">{{name}}</p>
              </div>
              <div class="productYear">
                <p>Year:{{year}}</p>
              </div>
              <div class="productPrice">
                <p>Price: <i class="fa fa-money" aria-hidden="true"></i> {{price}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="col-md-2">
      featured
    </div>
  </div>
</template>
