<template name="homeIndex">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        {{> filters}}
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        {{#each getAds}}
          <div class="col-md-4 ads">
            <a href="/ad/{{_id}}">
            <div class="product">
              {{getImage}}
              {{#if images}}
                <img class="productImage img-thumbnail img-responsive center-block" src="{{getImage(images.[0])}}" alt="" />
              {{else}}
              no
                <img class="productImage img-thumbnail img-responsive center-block" src="carDefault.png" alt="" />
              {{/if}}
              <div class="productName">
                <p class="text-center">{{brand}}</p>
                <p class="text-center">{{model}}</p>
              </div>
              <div class="productYear">
                <p>Year:{{year}}</p>
              </div>
              <div class="productPrice">
                <p>Price: <i class="fa fa-money" aria-hidden="true"></i> {{currency(price)}}</p>
              </div>
            </div>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="col-md-2">
      {{> featuredAds}}
    </div>
  </div>
</template>
